
body{
  background-color: beige;
}
.definition{
  text-align: center;
  margin:0 auto;
  width:80%;
}
.options{
  margin:0 auto;
  text-align: center;
}
.main{
  margin:0 auto;
  text-align: center;
}
.controller{
  text-align: center;
  margin:0 auto;
  width: 80%;
}
.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 3px;
}
.node .currentinput{
  fill: red;
}
.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.nondisplay{
  display: none;
}
.display{
  visibility:visible;
}
.heapbox{
  border: 1px solid;
}
.axis--x text {
  font: 10px sans-serif;
}

.axis--y text {
  font: oblique 15px Georgia, serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
