
body{
  background-color: beige;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 3px;
}
.node .currentinput{
  fill: red;
}
.node text { font: 12px sans-serif; }

.link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}
.nondisplay{
  display: none;
}
.display{
  visibility:visible;
}
